# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\vuejs_project\form_oop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
